body {
  font-family: sans-serif;
  margin: 1em;
}

dialog {
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.numeric {
  text-align: right;
}

.verbose {
  width: 25em;
}

table {
  width: 100%;
}

th {
  background-color: whitesmoke;
  text-align: left;
}

th, td {
  padding-right: 2em;
}

tr:nth-of-type(even) {
  background-color: whitesmoke;
}
